.input_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: #25273c;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 15px;
}

.app_input {
    flex: 1;
    outline: none;
    border: none;
    padding-right: 1rem;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    padding-left: 1rem;
}



.btn {
    width:100%;
    height: 40px;
    background-color: #4ec032;
    color: white;
    border-radius: 15px;
     
}

.sal {
    height: 28rem;
    width: 28rem;
    
}

.salList {
    color: white;
    margin-bottom: 0px;
    text-align: center;
    
  
}

.salBtn {
    margin-top: 25px;
}

h1 {
    color:white;
    text-align: center;
    margin-top: 15px;
    
}